# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/backend-api/node_modules
/backend-api/.env
/backend-api/package-lock.json
/backend-api/package.json
/backend-api/README.md
/backend-api/src/config/supabase.js
/backend-api/src/database/create-historico-locacoes.sql
/backend-api/src/database/create-obras.sql
/backend-api/src/database/create-produtos.sql
/backend-api/src/database/create-usuarios.sql